.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;

  &__container {
  }
  &__contactContainer {
    list-style-type: none;
    padding: 0;
    &__contact {
    }
  }

  &__mailContainer {
    list-style-type: none;
    padding: 0;

    &__link {
      text-decoration: none;
      color: white;
    }
  }
  &__phone {
    list-style-type: none;
    padding: 0;
  }

  &__socialsContainer {
    list-style-type: none;
    padding: 0;
  }
}
